input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.select-group{
    width: max-content !important;
}

.hover{
  border: 1px solid rgb(103,0,12,0.1);
}

.hover:hover{
  box-shadow: none !important;
}